input[type=text],input[type="email"],input[type=number],textarea{
    width:100%;
    padding: 12px; /* Some padding */ 
    border: 1px solid black; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box;
    margin-bottom: 10px;
    margin-top: 10px;
    resize: vertical;
    color: black;

}

fieldset{
    width:40%;
    font-weight:bold; 
    font-family: Georgia, 'Times New Roman', Times, serif;
}

input[type="submit"]{
    width: 100%;
    padding:5px;
    border:1px solid  black;
    margin-top: 10px;
    border-radius: 4px;
    
}
body{

    margin-left: 500px;
    margin-top: 50px;
}

input[type="submit"]:hover{
    background-color: coral;
    
}
fieldset:hover{
    background-color:floralwhite
}