
.outercontainer{
    border: 2px solid black;
    width: 400px;
    text-align: center;
    /* margin-top: 50vh;
    margin-left:25vw; */
    border-radius: 2px;   
    margin:auto;
    padding:2px;
}
input[type="text"]{
    color:black;
    border: transparent;
    border-bottom: 1px solid black;
    font-weight: bold;

   
}

.name{
  margin-top: 10px;
}
.name>input[type="text"] {
    
    color:black;
    border: transparent;
    border-bottom: 1px solid black;   
    position: relative;
    bottom: 40px;
    right: -4px;
}
.name>h3{
  background-color: red;
  color:white;
  width:380px;
  text-align: center;
  margin-left:15px;
  margin-top:5px;
}

.l1{
  position: relative;
  bottom: 42px;
  right: 124px;  
}
.l2{
  position: relative;
  bottom: 42px;
  right: -3px;
}

.adress1>input[type="text"]
{width: 377px;
  position: relative;
  bottom: 47px;
  
  
}
.adress1>label{
  position: relative;
  bottom: 46px;
  right: 167px;
}
.country>input[type="text"]{
    width: 121px;
    position: relative;
    bottom: 47px;
    font-style: italic;
}
.l3{
  position: relative;
  bottom: 44px;
  right: 129px;
}
.l4{
  position: relative;
  bottom: 46px;
  right: 41px;
}
.l5{
  position: relative;
  bottom: 46px;
  right: -28px;
}
.subscribe>p{
  position: relative;
  bottom: 53px;
  right: 142px;
  font-weight: bold;
}
#checkbox1{
  position: relative;
    bottom: 87px;
    right: -33px;

}
.one{
  position: relative;
  bottom: 89px;
  right: -33px;
  font-weight: bold;
}
#checkbox2{
  position: relative;
  bottom: 89px;
  right: -33px;
}
#sed{
  position: relative;
  bottom: 89px;
  right: -33px;
  font-weight: bold;
}
#para1{
  position: relative;
  bottom: 103px;
  right: 76px;
  font-weight: bold;
}
#computerzine1{
  position: relative;
  bottom: 114px;
  right: 22px;;
}
#computerzine2{
    position: relative;
    bottom: 115px;
    right: 26px;
    font-weight: bold;
}

#fishzine1ing1{
  position: relative;
  bottom: 97px;
  right: 149px;
}

#fishingzine2{
  position: relative;
  bottom: 99px;
  right: 152px;
  font-weight: bold;
}

#catozine1{
  position: relative;
  bottom: 80px;
  right: 259px;
}

#catozine2{
  position: relative;
  bottom: 82px;
  right: 262px;
  font-weight: bold;
}















    
