table,th,tr,td{
    border:1px solid black;
    border-collapse: collapse;
    padding: 10px;
    font-family: 'Times New Roman', Times, serif;
}

.container{
    margin-left: 500px;
}

h1{
    position: relative;
    left: 130px;
    top:  15px;
    font-weight: normal;
    font-family: 'Times New Roman', Times, serif;
}